bro:
  lookup:
    bro:
      repo_baseurl: 'http://download.opensuse.org/repositories/network:/bro/CentOS_7/'
      repo_gpgkey: 'http://download.opensuse.org/repositories/network:/bro/CentOS_7/repodata/repomd.xml.key'
      install_type: 'package'                # Install type can be package (support for tarball not implemented) 
      base_dir: '/opt/bro'                   # /opt/bro is default for package install
      MailTo': 'root@localhost'              # Recipient address for all emails sent out by Bro and BroControl
      SendMail': '/sbin/sendmail'            # Path to sendmail binary
      MailConnectionSummary': '1'            # Send mail connection summaries
      MinDiskSpace': '5'                     # Threshold (in percentage of disk space) for HDD where SpoolDir lives
      MailHostUpDown': '1'                   # Send mail when "broctl cron" notices a host in the cluster has changed
      LogRotationInterval': '3600'           # Log rotation interval in seconds for current logs
      LogExpireInterval': '0'                # Files older than this will be deleted by "broctl cron" 0 is never
      StatsLogEnable': '1'                   # Enable BroControl to write statistics to the stats.log file
      StatsLogExpireInterval': '0'           # Number of days that entries in the stats.log file are kept
      StatusCmdShowAll': '0'                 # Show all output of the broctl status command
      CrashExpireInterval': '0'              # Number of days that crash directories are kept
      SitePolicyScripts': 'local.bro'        # Site-specific policy script to load
      bpf:
        use_BPFconf: 'True'                  # Use Berkeley Packet Filter(BPF) on capture interfaces
        bpf_rules: []                        # Add custom BPF rules
      optional:
        use_LibgeoIP: 'False'                # Use LibgeoIP(less useful if sending logs upstream)
        use_sendmail: 'False'                # Use sendmail(needs sendmail/postfix to be installed)
        relayhost: 'mail.domain.tld'         # Send email to a relay host
      interfaces':
        ip_binary_path: '/sbin/ip'           # path to ip binary for managing 
        management: 'eth0'                   # Management interface name
        capture: 
          device_names: 'eth1'               # Capture interface name (currently only supports 1 interface)
          enable_tx: '0'                     # Enable tx send on this interface (default is 0)
          min_num_slots: '4096'              # Min Slots check support on card using ethtool -g eth1
